
# Created by https://www.toptal.com/developers/gitignore/api/$@
# Edit at https://www.toptal.com/developers/gitignore?templates=$@

#!! ERROR: $@ is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/$@
